



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }


	/*-webkit-text-fill-color: #666666 !important;
	-webkit-opacity:1; */
input::-webkit-input-placeholder {
	color: #adadad;
	-webkit-text-fill-color: #adadad !important;
	-webkit-opacity:1;
}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

input::-webkit-input-placeholder {
	color: #adadad;
	-webkit-text-fill-color: #adadad !important;
	-webkit-opacity:1;
}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}



/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*---------------------------------------------*/
.container {
	max-width: 1200px;
}





/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /*
  background: #00512c;
  background: -webkit-linear-gradient(45deg, #00773c, #002a17);
  background: -o-linear-gradient(45deg, #00773c, #002a17);
  background: -moz-linear-gradient(45deg, #00773c, #002a17);
  background: linear-gradient(45deg, #00773c, #002a17);
  */
  background: #4a4f54; /*#00512c;*/
  background: -webkit-linear-gradient(45deg, #0c121c, #4a4f54); /*#9e9f9f*/
  background: -o-linear-gradient(45deg, #0c121c, #4a4f54);
  background: -moz-linear-gradient(45deg, #0c121c, #4a4f54);
  background: linear-gradient(45deg, #0c121c, #4a4f54);

}

.wrap-contact100 {
  width: 650px;
  background: #f9fbf9; /* #fff;*/
  border-radius: 10px;
  overflow: hidden;
  /* padding: 42px 55px 45px 55px; */
}


/*------------------------------------------------------------------
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 18px;	/*27px;*/
  color: #4a4f54 /*#333333*/;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 4px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 0px;
  margin-bottom: 16px;
  border-bottom-left-radius: 10px;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1;
  padding-left: 5px;
  bottom: 0;
  bottom: 0px;
  /* position: absolute; */
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #666666; /*#4a4f54;*/ /*#333333;*/
  line-height: 1.2;
  padding: 0 5px;
  bottom: 0px;
  /* position: absolute; */
  /* text-align: right; */
  -webkit-text-fill-color: #666666 !important;
	-webkit-opacity:1;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 10px;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  /*border-bottom-left-radius: 10px;*/
	border-radius: 10px;

  background: #7f7f7f;
}


/*---------------------------------------------*/
input.input100 {
  height: 32px;
}


textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #00512c;
  background: -webkit-linear-gradient(left, #00773c, #002a17, #00773c, #002a17);
  background: -o-linear-gradient(left, #00773c, #002a17, #00773c, #002a17);
  background: -moz-linear-gradient(left, #00773c, #002a17, #00773c, #002a17);
  background: linear-gradient(left, #00773c, #002a17, #00773c, #002a17);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  /*.wrap-contact100 {*/
  .padder {
    padding: 72px 15px 65px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/*//////////////////////////////////////////////////////////////////
[ Restyle Select2 ]*/

.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
  /* color: #adadad; */
}

/*------------------------------------------------------------------
[ in select ]*/
.select2-container .select2-selection--single .select2-selection__rendered {
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #4a4f54 /*#333333*/;
  line-height: 1.2;
  padding-left: 5px ;
  background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select2-selection__arrow b {
  display: none;
}

.select2-selection__arrow::before {
  content: '';
  display: block;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #999999;
  margin-bottom: 2px;
}

.select2-selection__arrow::after {
  content: '';
  display: block;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #999999;
}

/*------------------------------------------------------------------
[ Dropdown option ]*/
.select2-container--open .select2-dropdown {
  z-index: 1251;
  border: 0px solid #e5e5e5;
  border-radius: 0px;
  background-color: white;

  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.select2-dropdown--above {top: -30px;}
.select2-dropdown--below {top: 8px;}

.select2-container .select2-results__option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.select2-container .select2-results__option[aria-selected="true"] {
  background: #00512c;
  background: -webkit-linear-gradient(right, #00773c, #002a17);
  background: -o-linear-gradient(right, #00773c, #002a17);
  background: -moz-linear-gradient(right, #00773c, #002a17);
  background: linear-gradient(right, #00773c, #002a17);
  color: white;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
  background: #00512c;
  background: -webkit-linear-gradient(right, #00773c, #002a17);
  background: -o-linear-gradient(right, #00773c, #002a17);
  background: -moz-linear-gradient(right, #00773c, #002a17);
  background: linear-gradient(right, #00773c, #002a17);
  color: white;
}

.select2-results__options {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #4a4f54 /*#333333*/;
  line-height: 1.2;
}

.select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #4a4f54 /*#333333*/;
  line-height: 1.2;
}

/*------------------------------------------------------------------
Hide Accrue Forms*/

.hiddenResults{
	display:none;
}

.accrue-amortization{
	/* background-color: red; */
}

/*------------------------------------------------------------------
Custom*/
.padder{
	padding: 22px 12px 12px 12px; /*42px 42px 45px 42px;*/	/*42px 55px 45px 55px;*/
	margin:0;
	border:none;
}
.logo, .logo-footer{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	background-color: #0c121c;
}
.logo{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 20px 20px 12px 20px;
}
.logo-footer{
	padding: 12px 12px 12px 12px;
	margin-top: 32px;
	background-color: #0c121c;

}
.logo-img {
	max-width: 100%;
	max-height:100%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.fa{
	color: #00512c;
	vertical-align: middle;
}
.fa-icon-center .fa {
    color: #00512c;
    vertical-align: middle;
    font-size: 18px;
}
.fas{
	color: #00512c;
	vertical-align: middle;
}
.fa-icon-center .fas {
    color: #00512c;
    vertical-align: middle;
    font-size: 18px;
}
#fa_coins{
		color: #00512c;
}
.fa-long-arrow-right{
	color:white;
}
.main-response{
	/*background-color: #00512c;*/
	border-radius: 20px;
	border: 2px solid #d9d9d9;
	/* margin-top: 25px; */
}
.main-response .input100{
	text-align:center;
	/* font-size: 27px; */
}
.main-response .contact100-form-title{
	padding-top: 20px;
}
.expanded-info{

	padding-bottom: 13px;
	text-align: center;
	margin-top: 27px;
}
/*
.left {
    width: 50%;
    float: left;
    height: 45px;
    border-right: 2px solid #d9d9d9;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.right {
    margin-left: 50%;
    height: 45px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
*/
.left {
    width: 50%;
    float: left;
    height: 100%;
    border-right: 2px solid #d9d9d9;
    /* margin-top: 27px; */
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.right {
    margin-left: 50%;
    height: 100%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.calculator-amortization .wrap-input100{

/* margin-top: 27px; */
}
th, td {
	/* padding-left: 2px; */
	/* padding-right: 2px; */
	padding-left: 6px;
	padding-right: 4px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
thead, tfoot{
	/*background-color: rgba(0, 42, 23, 1);*/	/*rgba(0, 119, 60, 0.8);*/
	background: #00512c;

	border-radius: 20px;
	color: #f9fbf9;
	/*font-weight: bold;*/

	/* text-align: center; */
}
/*
thead tr{
	  background: -webkit-linear-gradient(right, #00773c, #002a17);
	  background: -o-linear-gradient(left, #00773c, #002a17);
	  background: -moz-linear-gradient(left, #00773c, #002a17);
	  background: linear-gradient(left, #00773c, #002a17);

}
*/
thead{
	/* line-height: 40px; */
	/* text-align:right; */
	/* font-size: 18px; */
	background-color: rgba(0, 42, 23, 1);
	line-height: 40px;
	border-radius: 20px;
	color: #f9fbf9;
	font-weight: bold;
}
thead th{
	text-align: center;
}
tfoot{
	line-height: 32px;
	font-size: 13px;

}
tbody tr:nth-child(odd){
  background-color: #d7d7d7;
}
tbody {
	font-family: Poppins-Regular;
	/* font-size: 13px; */
	/* color: #666666; */
	color: #212529;
	line-height: 1.5;
	padding-left: 5px;
}
table {
	width:100%;
	max-width:100%;
	border-collapse: collapse;
	text-align: left;
	font-family: Poppins-Regular;
}
.left-input {
    width: 40px;
    float: left;
    height: 100%;
    /* border-right: 2px solid #d9d9d9; */
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* bottom: 0px; */
}
.right-input {
    margin-left: 40px;
    /* height: 100%; */
    /* border: solid red; */
    height: 32px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.fa-container{

}
.input-two-container{
	height: 40px;
	/* border: 2px solid #d9d9d9; */
	border-radius: 10px;
	/* padding: 8px; */
}
.fa-icon-center{
    display:inline-block;
    font-size: 18px;
    line-height: 32px;
    /* background-color: #00512c; */
    color: #00512c;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: bottom;
    padding: 0px;
}
.single-icon .left-input{
	height: 32px;
	/* border: solid; */
	vertical-align: middle;
}
.single-icon .label-input100{
    display:inline-block;
    line-height: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}
.single-icon .label-input100{
	font-size:18px;
	vertical-align:  middle;
}
.single-icon .smaller-icon{
	font-size:13px;
}
.mini-space .wrap-input100{

padding-bottom: 0px;

border-bottom-left-radius:  10px;
}
.results{
	overflow-x:auto;
	border: 2px solid #d9d9d9;
	border-radius: 10px
}
.req-field {}
.required-highlight{
	color: #00512c;
}
.leftPercent {
    width: 62%; /*109px;*/
    float: left;
    height: 100%;
    /* border-right: 2px solid #d9d9d9; */
    /* margin-top: 27px; */
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.rightPercent {
    margin-left: 62%; /*120px;*/
    padding-left: 2%;
    height: 100%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.pertcentNum{
	width: 52px;
	float: left;
	height: 100%;
	/* border-right: 2px solid #d9d9d9; */
	/* margin-top: 27px; */
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	/* border: solid blue; */
	/* text-align: right; */
}
.percentSymbol{
	/*width: 52px;*/
	margin-left: 44px;
	height: 100%;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	vertical-align:middle;
}
input.percentSymbolInput{
	padding: 0;
}
/*
.percentSymbol{
	height: 100%;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
*/
.pertcentNum .input100{
	text-align: right;
}
input[type="text"]:disabled {
  color: #666666;	/*#4a4f54 !important;*/
}
input:disabled {
  color: #666666;	/*#4a4f54 !important;*/
}
.logo-type, .logo-type .contact100-form-title{
	color:#d9d9d9;
	text-align: center;
	/* font-family: jaguar; */
	margin-top: 4px;
	font-size: 18px;
	/* font-weight: normal; */
}
/*
@font-face {
    font-family: jaguar;
    src: url(fonts/jaguar/jagw____.ttf);
}
*/

.highlightDisabled{}


.percentSymbol input:focus::-webkit-input-placeholder { color: #544a50; }
.percentSymbol input:focus:-moz-placeholder { color: #4a4f54; }
.percentSymbol input:focus::-moz-placeholder { color: #4a4f54; }
.percentSymbol input:focus:-ms-input-placeholder { color: #4a4f54; }


.percentSymbol textarea::-webkit-input-placeholder { color: #544a50;}
.percentSymbol textarea:-moz-placeholder { color: #544a50;}
.percentSymbol textarea::-moz-placeholder { color: #544a50;}
.percentSymbol textarea:-ms-input-placeholder { color: #544a50;}


.highlightDisabled input:focus::-webkit-input-placeholder { color: #544a50; }
.highlightDisabled input:focus:-moz-placeholder { color: #4a4f54; }
.highlightDisabled input:focus::-moz-placeholder { color: #4a4f54; }
.highlightDisabled input:focus:-ms-input-placeholder { color: #4a4f54; }


.highlightDisabled textarea::-webkit-input-placeholder { color: #544a50;}
.highlightDisabled textarea:-moz-placeholder { color: #544a50;}
.highlightDisabled textarea::-moz-placeholder { color: #544a50;}
.highlightDisabled textarea:-ms-input-placeholder { color: #544a50;}

/*//////////////////////////////////////////////////////////////////
[ Comparte Plans ]*/
.traditional-div{

}
.elite-div{

}

/*Table*/
.valueCell{
  text-align: right;
  font-size: 18px;
  font-weight:  400;
}
tr .moneySymbolTable{/* width: 12px; */max-width: 0.7em;padding: 0px;margin: 0;border: 0;/* background-color: red; */}
#EliteTradTable tbody tr:nth-child(odd){
  background-color: #f9fbf9;
}
#EliteTradTable {
    line-height: 2;
}
tr .badValue,  .badValue tr{
	color: #969696;
	/* font-size: 13px !important; */
}

thead .badValueHeader, tfoot .badValueHeader{
	color: #969696;
	/* font-size: 13px; */
}
table .compareLabel{
	max-width: 5.1rem;
	width: 27%;
	/* padding-right: 2px; */
}
.beneficiosDiv{
	/*
	border: 1px solid #d9d9d9;
	border-radius: 12px;
	padding: 4px;
	*/
}
.amountMainDiv{
	visibility: hidden;
	display: none;
}

.priceLeft{
	border-color: red;
	width: 60%;
    float: left;
}
.termRight{
	margin-left: 60%;
    height: 100%;

}

.center-content{
	text-align: center;
}

.timeline_div{
	border-bottom: 2px solid #d9d9d9;
	padding-bottom: 0px;
	margin-bottom: 16px;
	border-bottom-left-radius: 10px;
	height: 160px;
	text-align: -webkit-center;
}

.timeline_div_img{
	/* height: 100%; */
	max-width: 100%;
}
/* Select Style */
.select_container {
	width: 100%;
	text-align:-webkit-center;
	/* margin: 0px; */
	padding-bottom: 16px;
}
.plan_selector{
	width: 100%;
	background-color: #0c121c;
	border-radius: 4px;
	/* font-family: Poppins-Medium; */
	font-family: Poppins-Regular;
	font-size: 18px;
	color: #d9d9d9;;
	/* line-height: 1.2; */
	/* font-weight: 400; */
	text-align: -webkit-center;
}
select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
}
option {
  text-align: left;
  /* reset to left*/
}
select option {
    margin: 40px;
    background: #f9fbf9;
    color: #666666;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
select.decorated option:hover {
    box-shadow: 0 0 10px 100px #00512c inset;
}
.center_title {
	text-align: center;
}
.center_title .fa{
	color: #00512c;
}